* {
  box-sizing: border-box;
}

body {
  font-family: $font-primary;
}

footer {
  max-width: $max-width;
  margin: 0 auto 2rem;
  p {
    width: 85%;
    margin: 0 auto;
    text-align: center;
    color: $color-grey-medium;
    font-weight: 100;
    font-size: 11px;
    letter-spacing: .05em;
  }
}
