.gallery {

  display: flex;
  max-width: $max-width;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: center;

  .album {
    display: flex;
    align-items: center;
    width: 250px;
    margin: 0 1rem 2rem 1rem;
    border-radius: $border-radius;
    background: $color-grey-light;
    border-bottom: 2px solid $color-grey-medium;
    padding: 20px;
    cursor: pointer;

    img {
      max-width: 100%;
    }
  }

  @media (min-width: $mobile-l) {
    .album {
      width: 175px;
    }
  }

  @media (min-width: $tablet) {
    margin-bottom: 2rem;
    .album {
      width: 200px;
    }
  }


}
